@import '../../styles/variables.scss';

.character {
  position: absolute;
  width: 30%;
  top: 22%;
  left: 9%;

  &:before {
    content: '';
    display: block;
    padding-bottom: 200%;
  }

  &-common {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: 2s infinite alternate;
  }

  &-head {
    top: 0;
    width: 45%;
    border-radius: 50%;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &-common-body-parts {
    width: 10%;
    transform-origin: 0 0;
    border-radius: 50px;
  }

  &-body {
    top: 25%;
    height: 50%;
  }

  &-arms {
    top: 50%;
    height: 15%;
  }

  &-arm-left {
    rotate: 120deg;
    animation-name: left-arm-animation;
  }

  &-arm-right {
    rotate: -120deg;
    animation-name: right-arm-animation;
  }

  &-legs {
    top: 75%;
    height: 23%;
  }

  &-leg-left {
    rotate: 55deg;
    animation-name: left-leg-animation;
  }

  &-leg-right {
    rotate: -55deg;
    animation-name: right-leg-animation;
  }

  &-arm-right,
  &-leg-right {
    left: 60%;
  }

  &-arm-left,
  &-leg-left {
    left: 40%;
  }

  &-fill {
    background-color: $color-character;
  }

  &-line {
    border: 2px dashed $color-character;
  }
}

@keyframes left-arm-animation {
  100% {
    rotate: 100deg;
  }
}

@keyframes right-arm-animation {
  100% {
    rotate: -100deg;
  }
}

@keyframes left-leg-animation {
  100% {
    rotate: 45deg;
  }
}

@keyframes right-leg-animation {
  100% {
    rotate: -45deg;
  }
}
