@use '../../styles/variables.scss' as vars;
@use '../../styles/mixins/responsive.scss' as resp;
@use '../../styles/utils/calc.scss' as calc;

.container {
  margin: 0 auto;
  padding: calc.rem-calc(18px);
  border-radius: 50%;
  text-align: center;
  overflow: hidden;

  @include resp.media-breakpoint-down(lg) {
    width: 180px;
    padding: calc.rem-calc(12px);
    margin: calc.rem-calc(18px) auto 0;
  }
}

.gameText {
  padding: calc.rem-calc(8px) calc.rem-calc(4px) 0;
  font-size: calc.rem-calc(24px);
  font-weight: bold;
  letter-spacing: 1px;
  color: #3a3a3a;

  @include resp.media-breakpoint-down(lg) {
    font-size: calc.rem-calc(18px);
  }
}

.button {
  padding: calc.rem-calc(8px) calc.rem-calc(16px);
  border: none;
  font-size: calc.rem-calc(18px);
  border-radius: 50%;
  letter-spacing: 0.5px;
  color: vars.$color-light;
  background-color: vars.$color-secondary;
  box-shadow: inset 0 0 3px vars.$color-dark-shadow;

  &:hover {
    color: vars.$color-secondary;
    background-color: vars.$color-light;
    box-shadow: inset 0 0 3px vars.$color-secondary;
    transition: 0.3s ease-in-out all;
  }

  @include resp.media-breakpoint-down(lg) {
    font-size: calc.rem-calc(14px);
  }
}

.win {
  background-color: vars.$color-primary;
  box-shadow: inset 0 0 5px vars.$color-ligh-shadow;
}

.lose {
  background-color: vars.$color-light;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);

  .button {
    color: vars.$color-light;
    background-color: vars.$color-primary;
    box-shadow: inset 0 0 3px vars.$color-dark-shadow;
  }

  .button:hover {
    color: vars.$color-primary;
    background-color: vars.$color-light;
    box-shadow: inset 0 0 3px vars.$color-primary;
    transition: 0.3s ease-in-out all;
  }
}
