$color-primary: #ff8aae;
$color-secondary: #1a75ff;
$color-light: #fdebed;
$color-dark-shadow: #3e1818;
$color-ligh-shadow: #b65170;
$color-character: #9f7967;
$gallows-bg: #825b1f;

// Typography
$base-size: 16px;
