.character {
  position: absolute;
  left: 100px;
  width: 120px;
  background: #ccc;

  &:before {
    content: '';
    display: block;
    padding-bottom: 200%;
  }

  &-common {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    animation: 2s infinite alternate;
  }

  &-head {
    top: 0;
    width: 55%;
    border-radius: 50%;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &-common-body-parts {
    width: 6%;
    transform-origin: 0 0;
    border-radius: 50px;
  }

  &-body {
    top: 22%;
    height: 60%;
  }

  &-arms {
    top: 50%;
    height: 20%;
  }

  &-arm-left {
    rotate: 120deg;
    animation-name: left-arm-animation;
  }

  &-arm-right {
    rotate: -120deg;
    animation-name: right-arm-animation;
  }

  &-legs {
    top: 80%;
    height: 30%;
  }

  &-leg-left {
    rotate: 55deg;
    animation-name: left-leg-animation;
  }

  &-leg-right {
    rotate: -55deg;
    animation-name: right-leg-animation;
  }
}

@keyframes left-arm-animation {
  100% {
    rotate: 100deg;
  }
}

@keyframes right-arm-animation {
  100% {
    rotate: -100deg;
  }
}

@keyframes left-leg-animation {
  100% {
    rotate: 45deg;
  }
}

@keyframes right-leg-animation {
  100% {
    rotate: -45deg;
  }
}
