@import '../styles/variables.scss';
@import '../styles/responsive.module.scss';

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 3px 22px;
  border: none;
  border-radius: 5px;
  font-size: 32px;
  letter-spacing: 1px;
  text-align: center;
  color: $color-light;
  background-color: $color-primary;

  @include media-breakpoint-down(lg) {
    font-size: 26px;
  }

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.button:hover {
  color: $color-primary;
  background-color: $color-light;
  transition: 0.3s ease-in-out all;
}
