.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 8% auto;
}

.button {
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  background-color: rgba(255, 109, 138, 0.648);
  transition: all 300ms ease-in-out;
}

.button:hover {
  color: rgba(255, 109, 138, 0.648);
  background-color: white;
}
