@import '../styles/variables.scss';
@import '../styles/mixins/responsive.scss';

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.187rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  color: $color-light;
  background-color: $color-primary;

  @include media-breakpoint-down(lg) {
    font-size: 1.625rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.button:hover {
  color: $color-primary;
  background-color: $color-light;
  transition: 0.3s ease-in-out all;
}
