@import '../styles/variables.scss';
@import '../styles/mixins/responsive.scss';

.alert {
  margin: 0 auto 2rem;
  padding: 1rem 5rem;
  border-radius: 8px;
  font-size: 1.25rem;
  text-align: center;
  color: $color-primary;
  background-color: $color-light;
  border: 2px solid $color-primary;

  @include media-breakpoint-down(lg) {
    padding: 1rem 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem 1rem;
    font-size: 1rem;
  }
}
