@import '../styles/variables.scss';
@import '../styles/mixins/responsive.scss';
@import '../styles/utils/calc.scss';

.alert {
  margin: 0 auto rem-calc(36px);
  padding: rem-calc(16px) rem-calc(80px);
  border-radius: 8px;
  font-size: rem-calc(20px);
  text-align: center;
  color: $color-primary;
  background-color: $color-light;
  border: 2px solid $color-primary;

  @include media-breakpoint-down(lg) {
    padding: rem-calc(16px) rem-calc(40px);
  }

  @include media-breakpoint-down(sm) {
    padding: rem-calc(16px) rem-calc(16px);
    font-size: rem-calc(16px);
  }
}
