.alert {
  padding: 1rem;
  margin: 1rem 10rem;
  border-radius: 0.5rem;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 109, 138, 0.648);
  background-color: #fff3cd;
  border: 2px solid rgba(255, 109, 138, 0.648);
}
