.gallows {
  position: absolute;
  background: #ccc;
  width: 250px;

  &:before {
    content: '';
    display: block;
    padding-bottom: 200%;
  }

  &-common {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4%;
    background: #000;
  }

  &-base {
    bottom: -13%;
    height: 30%;
    rotate: -90deg;
    margin-left: -22%;
  }

  &-pillar {
    top: 0;
    height: 100%;
    margin-left: -20%;
  }

  &-top-line {
    top: -18%;
    height: 36%;
    rotate: -90deg;
    margin-left: 12%;
  }

  &-head-holder {
    top: 0;
    height: 10%;
    margin-left: 48%;
  }
}
