@import '../styles/variables.scss';

.container {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 20px 10px;
}

.letter-wrapper {
  position: relative;
  flex: 1 1 0;
  max-width: 80px;
  &:before {
    content: '';
    display: block;
    padding-bottom: 130%;
  }

  margin: 5px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  font-size: 3rem;
  background-color: $color-secondary;
  box-shadow: 0 2px 0 0 #937074, 0 0 1px 0 #000;

  .letter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-svg {
      width: 100%;
      height: 100%;
      fill: $color-secondary;
    }
  }
}

.correct {
  background-color: $color-success;
  color: $color-secondary;
  text-align: center;
}
