@import '../styles/variables.scss';
@import '../styles/mixins/responsive.scss';
@import '../styles/utils/calc.scss';

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: rem-calc(32px) 0 rem-calc(32px);
  padding: rem-calc(20px) rem-calc(10px);

  @include media-breakpoint-down(lg) {
    margin: rem-calc(16px) 0 rem-calc(16px);
  }

  @include media-breakpoint-down(sm) {
    margin: rem-calc(8px) 0 rem-calc(8px);
  }
}

.letter-wrapper {
  position: relative;
  flex: 1 1 0;
  max-width: 80px;
  &:before {
    content: '';
    display: block;
    padding-bottom: 130%;
  }

  margin: rem-calc(5px);
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: rem-calc(48px);
  background-color: $color-light;
  box-shadow: 0 2px 0 0 #937074, 0 0 1px 0 #000;

  &-correct {
    background-color: $color-primary;
  }

  &-incorrect {
    background-color: $color-secondary;
    box-shadow: 0 2px 0 0 #1853ac, 0 0 1px 0 #000;
  }

  .letter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-svg {
      width: 100%;
      height: 100%;
      fill: $color-light;
    }
  }

  @include media-breakpoint-down(lg) {
    max-width: 70px;
    font-size: rem-calc(40px);
  }

  @include media-breakpoint-down(sm) {
    max-width: 50px;
    font-size: rem-calc(34px);
  }
}
