@import '../../styles/variables.scss';

.gallows {
  $size: 7%;
  position: relative;
  width: 60%;
  margin: 0 auto;

  &:before {
    content: '';
    display: block;
    padding-bottom: 160%;
  }

  &-common {
    position: absolute;
    width: $size;
    background-color: $gallows-bg;
    box-shadow: inset -2px 0 5px -2px #000;
  }

  &-base {
    bottom: 0;
    right: -$size;
    height: 30%;
    rotate: -90deg;
    transform-origin: 0% 100%;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &-pillar {
    top: 4%;
    right: 15%;
    height: 92%;
  }

  &-top-line {
    top: 0;
    right: 0;
    transform-origin: 0% 0%;
    height: 45%;
    rotate: 90deg;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 100%;
  }

  &-rope {
    position: absolute;
    top: 0;
    left: 38%;
    width: 2.5%;
    height: 20%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: repeating-linear-gradient(60deg, $gallows-bg 35%, #e6bf83 45%);
    box-shadow: inset -2px 0 2px -2px #000;
  }
}
