@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Mina', sans-serif;
  // background-color: #ffe6bc;
  color: black;
  background: url(./images/background.png) repeat 0 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-col {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  justify-content: center;
}

.right-col {
  display: flex;
  flex-basis: 30%;
  align-items: center;
}
