@import './styles/mixins/responsive.scss';

.full-screen-wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    align-items: initial;
  }
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-col {
  flex-direction: column;
  flex-basis: 70%;

  @include media-breakpoint-down(lg) {
    flex-basis: 60%;
  }
}

.right-col {
  flex-basis: 30%;

  @include media-breakpoint-down(lg) {
    flex-basis: 40%;
  }
}

.left-col,
.right-col {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    flex-basis: auto;
  }
}
